
<% if current_user.profile.nil?%>

  <%= form_tag("/users/#{current_user.id}/profile", method: "get") do %>

    <p class = "list">Recipe Types for Allergies:</p>
    <div class="profile-border">
      <% @allergies.each do |allergy| %>
        <%= check_box_tag 'allergy_id[]', allergy.id -%>
        <%= h allergy.allergy_name -%>
      <% end %>
    </div>
  </br>
    <p class = "list">Diet Preferences:</p>
    <div class="profile-border">
      <% @diets.each do |diet| %>
        <%= check_box_tag 'diet_id[]', diet.id -%>
        <%= h diet.diet_name -%>
      <% end %>
    </div></br>

    <%= label_tag(:q, "Ingredients to Exclude:") %>
    <%= text_field_tag(:q) %>

    <%= submit_tag("Create Profile",class: "btn btn-default") %>

  <% end %>

<% else %>

  <%= form_for([@user, @profile]) do %>

    <p class = "list">Recipe Types for Allergies:</p>
    <div class="profile-border">
        <% @allergies.each do |allergy| %>
          <%= check_box_tag 'allergy_id[]', allergy.id -%>
          <%= h allergy.allergy_name -%>
        <% end %>
    </div>
  </br>
    <p class = "list">Diet Preferences:</p>
    <div class="profile-border">
      <% @diets.each do |diet| %>
        <%= check_box_tag 'diet_id[]', diet.id -%>
        <%= h diet.diet_name -%>
      <% end %>
    </div>
    <%= label_tag(:q, "Ingredients to Exclude:") %>
    <%= text_field_tag(:q) %>

    <%= submit_tag("Update Profile", class: "btn btn-default") %>

  <% end %>
<% end %>
