<div class="recipe-view">
  <div class="title">
    <h2><%= @recipe.name %> </h2>
  </div>
  <div class="source-name">
    <p><%= link_to("#{@recipe.source.display_name}",
                   @recipe.source.recipe_url,
                   class: "name-r", method: :get) %></p>
  </div>

<div class="recipe-details">
  <div class="recipe-img">
    <img src="<%= @recipe.images.first.large_url %>"/>
  </div>
  <div class="time">
    <h3> Time: <%= @recipe.total_time %></h3>
  </div>
  <div class="servings">
    <h3> Serves: <%= @recipe.number_of_servings %></h3>
  </div>
  <div class="ingredient">
    <h3> Ingredients: </h3>
    <div class="list">
      <ul class="list-unstyled"><% @recipe.ingredients.each do |i| %>
          <li class = "size"><%= i %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="buttons">
    <%= button_to("View Recipe",@recipe.source.recipe_url, class: "btn btn-default",
                method: :get) %>
    <%= button_to("Back",:back, class: "btn btn-default",
                method: :get) %>
  </div>
</div>
</div>
