<div class="form-container">
  <div class="form-container-inner">
    <%= form_tag("/", method: "get", class:"form-container-inner") do %>
    <div class="text-field-wrapper">
      <%= text_field_tag(:q, params[:q], class: "text-field",
      placeholder: "Search For Tasty Recipes") %>
    </div>
      <%= submit_tag "Search", class: "btn btn-info" %>
    <% end %>
  </div>
</div>

<% if @query %>
  <div class="search-container">
    <% @query.each_slice(4) do |query| %>
    <div class="row">
      <% query.each do |q| %>
      <div class="col-xs-3">
        <div class="center-container">
          <img src="<%= q.thumbnail %>"/>
          <span><%= link_to("#{q.name}", recipe_path(q.id), class: "name",
                                                method: :get) %> </span>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>
