<header>
  <nav class="navbar navbar-fixed" role="navigation">
    <div class="container-fluid">
      <h1>Leftovers</h1>
      <div class="navbar-header">
        <% if current_user %>
          <% if current_user.profile %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                class: 'session'%>
            <%= link_to "Edit Profile", edit_user_profile_path(current_user.profile),
                method: :get,class: 'session'%>
          <% else %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                class: 'session'%>
            <%= link_to "Create Profile", new_user_profile(current_user.profile),
                method: :get,class: 'session'%>
          <% end %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, method: :get,
                class: 'session'%>
          <%= link_to "Sign Up", new_user_registration_path, method: :get,
                class: 'session'%>
        <% end %>
      </div>
    </div>
  </nav>
</header>
